.header {
    height: 58px;
    background-color: #131921;
    display: flex;
    align-items: center;
    z-index: 9999;
}

.bg_dark {
    background-color: #131921;
    margin-right: -16px !important;
}

.header_logo {
    width: 100px;
    object-fit: contain;
    margin: 0 20px;
    margin-top: 10px;
}

.logo_link:hover {
    opacity: 1 !important;
}

.header_deliver {
    margin: 0 20px;
}

.header_search {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.header_searchIcon_contain {
    padding: 7px 8px;
    background-color: #fbc21b;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
}

.header_optionsLineOne {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
}

.header_nav {
    margin: 0 20px;
}

.header_optionsLineOne {
    font-size: 12px;
    color: #999999;
}

/* PC */
@media (min-width: 64em) {
    .header_searchInput {
        min-width: 570px;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        border-top-right-radius: 0px !important;
        border-bottom-right-radius: 0px !important;
    }

    .header_nav {
        margin: 0 20px !important;
    }

    .header_pc_ul {
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        width: 100% !important;
    }

    .header_pc_li_search {
        margin-right: auto !important;
        margin-left: auto !important;
    }

    .header_pc_li_options {
        margin-left: auto !important;
    }
}

/* IPAD Pro */
@media (max-width: 64em) {
    .header_searchInput {
        min-width: 320px;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        border-top-right-radius: 0px !important;
        border-bottom-right-radius: 0px !important;
    }
}

/* TABLET & MOBILE */
@media (max-width: 63.9375em) {
    .ml_sm_0px {
        margin-left: 0px !important;
    }

    .flex_sm_row {
        flex-direction: row !important;
        align-items: center !important;
    }

    .mr_sm_2 {
        margin-right: 6px !important;
    }

    .ml_sm_auto {
        margin-left: auto !important;
    }

    .w_sm_100 {
        width: 100% !important;
    }

    .mr_sm_0 {
        margin: 0 !important;
    }

    .mb_sm_17px {
        margin-bottom: 17px !important;
    }

    .mt_sm_17px {
        margin-top: 17px !important;
    }

    .w_sm_80 {
        width: 80% !important;
    }

    .w_sm_20 {
        width: 20% !important;
    }

    .search_sm_custom {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
    }

    .cart_sm_custom {
        width: 100% !important;
        margin-left: auto !important;
    }

    .flex_sm_column {
        flex-direction: column !important;
        align-items: start !important;
    }

    .mw_sm_110px {
        min-width: 110px !important;
    }
}

/* TABLET */
@media (min-width: 46.25em) and (max-width: 63.9375em) {}

/* MOBILE */
@media (max-width: 46.25em) {}