.bdtr-bdbr-0px {
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}

.cr-pointer {
    cursor: pointer !important;
}

.op-08 {
    transition: all 0.3s;
}

.op-08:hover {
    opacity: 0.8 !important;
}

.kep-login-facebook {
    font-weight: bold !important;
    font-size: 1rem !important;
    text-transform: capitalize !important;
    padding: calc(.34435vw + 4.38843px) calc(.34435vw + 18.38843px) !important;
    width: 100% !important;
    margin-top: 6px !important;
}

.fa-brands.fa-facebook {
    margin-right: 8px !important;
}

/* PC */
@media (min-width: 64em) {
    .app {
        overflow: hidden;
    }
}

/* IPAD Pro */
@media (max-width: 64em) {}

/* TABLET & MOBILE */
@media (max-width: 63.9375em) {}

/* TABLET */
@media (min-width: 46.25em) and (max-width: 63.9375em) {}

/* MOBILE */
@media (max-width: 46.25em) {}